/* modal-cadastro.component.scss */

.custom-modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.6); /* fundo cinza escuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.custom-modal-content {
  background: #fff;
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  min-width: 500px;
  max-width: 95vw;
  position: relative;
}

.custom-modal-close {
  position: absolute;
  top: 16px; right: 20px;
  font-size: 2rem;
  color: #888;
  cursor: pointer;
  transition: color 0.2s;
}
.custom-modal-close:hover {
  color: #d32f2f;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

p {
  text-align: center;
  color: #555;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  border-radius: 30px;
  border: none;
  background: #6c63ff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}
button:hover {
  background: #5548c8;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-field {
  width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}