<div class="custom-modal" *ngIf="visible">
  <div class="custom-modal-content">
    <span class="custom-modal-close" (click)="close.emit()" title="Fechar">&times;</span>
    <h2 class="modal-title">{{ titulo }}</h2>
    <p class="modal-desc">{{ descricao }}</p>
    <form [formGroup]="form" class="modal-form">
      <mat-form-field class="modal-field">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" placeholder="Nome" />
      </mat-form-field>
      <mat-form-field class="modal-field">
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="sobrenome" placeholder="Sobrenome" />
      </mat-form-field>
      <mat-form-field class="modal-field">
        <mat-label>Celular*</mat-label>
        <input matInput formControlName="celular" placeholder="Celular" />
      </mat-form-field>
      <mat-form-field class="modal-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com" />
        <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
        <div class="modal-actions">
            <ng-container *ngFor="let btn of buttons">
              <button
                mat-raised-button
                [color]="btn.color || 'primary'"
                [ngClass]="btn.action === 'enviar' ? 'btn-enviar-pill' : ''"
                [disabled]="btn.disabled || (btn.action === 'enviar' && form.invalid)"
                type="button"
                (click)="onButtonClick(btn.action)">
                {{ btn.label }}
              </button>
            </ng-container>
        </div>
    </form>
  </div>
</div>